<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MoveOn</title>
    <!-- Linking jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
    <!-- Linking CSS -->
    <link rel="stylesheet" href="/head.css">
    <!-- Linking Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-REjxEn8sgD7uNQIt5faY7HHk4Zgg1Jr7GJUdjqTmElMdTKjsfK/b/iKYbUKRA7nulm5K8zmGTLakjvsRHrZgrw==" crossorigin="anonymous" />
</head>
<body>
    <div class="navbar">
        <a href="/move">MoveOn</a>
        <div class="navbar-links">
            <a class="nav-link" href="https://github.com/yunapahk/bjj/">
                <i class="fa-brands fa-square-github" style="color: #f0a925;"></i>
            </a>
        </div>
        <!-- <div class="hamburger-menu"> -->
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="hamburger-menu-close">
        </div>
    </div>
</body>
<script>
   $(document).ready(function() {
      $('.hamburger-menu').click(function() {
        $(this).toggleClass('open');
        $('.navbar-links').toggleClass('active');
        $('.column-links').toggleClass('active');
      });
    });
</script>
</html>
