<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MoveOn</title>
    <!-- Linking jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
    <!-- Linking CSS -->
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="navbar">
        <a class="home" href="#home">MoveOn</a>
        <div class="nav-links">
            <div class="dropdown">
                <a href="#positions">Positions</a>
                <a href="#movements">Movements</a>
                <a href="#submissions">Submissions</a>
                <a class="nav-link" href="https://github.com/yunapahk/bjj/">Github</a>
            </div>    
        </div>
    </div>
</body>
<script>
    $(document).ready(function(){
        $('.menu-icon').click(function(){
            $('.nav-links').slideToggle(200);
        })
    });
</script>
</html>