<!DOCTYPE html>
<html lang="en">
<%- include('./move/partials/head.ejs') %>
<head>
    <link rel="stylesheet" href="/user.css">
</head>
    <body>
            <main>
                <div>
                    <a href="/user/signup"><button>Sign Up</button></a>
                    <a href="/user/login"><button>Login</button></a>
                </div>
            </main>
    </body>
</html>