<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <h1>Edit Bjj Moves</h1>

    <div class="create-button">
        <a href="move/new"><button>Add New Move</button></a>
    </div>

    <h2>Moves</h2>
    <div class="index-container">
        <% movement.forEach((move, index) => { %>
            <div class="index-item">
                <h3><a href="/move/<%= move._id %>" class="no-underline"><%= move.name %></a></h3>
                <img class="index-image" src="<%= move.img %>">
            </div>
        <% }) %>
    </div>
</body>
</html>