<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Move</title>
</head>
<body>
    <h1>Add New Move</h1>
        <div class="new-inputs">
            <form action="/move" method="POST">
                <input type="text" name="name" placeholder="Name of Move">
                <input type="text" name="type" placeholder="Type of Move">
                <input type="text" name="description" placeholder="Description of Move">
                <input type="text" name="points" placeholder="Move Points">
                <input type="checkbox" name="learned"/>
                <input type="text" name="img" placeholder="Image of Move">
                <input type="submit" value="Add" class="create-button">
            </form>
        </div>
</body>
</html>