* {
    font-family: Arial, Helvetica, sans-serif;  
}

body {
    height: 100vh;
    margin: 0;
}

.signup-container {
    border: #fff 3px solid;
    background-color: whitesmoke;
    box-shadow: 3px #161616;
    padding: 30px;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 100px;
    width: 50%;
    height: 40vh;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-account {
    font-size: 1.75em;
    font-weight: bold;
    text-align: center;
    color: #9b9898;
    background-color: whitesmoke;
    margin-bottom: 30px;
}

.form-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
    background-color: whitesmoke;
}

.input-label {
    color: #605d5d;
    padding-right: 10px;
    width: 160px;
    text-align: right;
}

input[name="username"],
input[name="password"] {
    width: 90%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #383838;
    background-color: whitesmoke;
    color: #9b9898;
}

.input-wrapper {
    margin-bottom: 20px; 
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
}

input[type="submit"] {
    display: block;
    width: 150px; 
    margin: 0 auto; 
    padding: 10px;
    font-size: 1em; 
    background-color: rgb(0, 127, 246);
    border-radius: 8px;
    border-color: royalblue;
  }