.sign-up-button {
    display: inline-block;
    width: 150px;
    font-size: 1em;
    background-color: rgb(0, 127, 246);
    border-radius: 8px;
    border-color: royalblue;
    height: 40px;
    color: whitesmoke;
}

.login-button {
    display: inline-block;
    width: 150px;
    font-size: 1em;
    background-color: rgb(0, 127, 246);
    border-radius: 8px;
    border-color: royalblue;
    height: 40px;
    color: whitesmoke;
}

.button-container {
    padding-top: 180px;
    border: #fff 3px solid;
    background-color: whitesmoke;
    border-radius: 10px;
    margin: 0 auto;
    width: 50%;
    height: 30vh;
}