<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit <%= position.name %></title>
</head>
<body>
    <h2>Edit Position</h2>
        <form action="/positions/<%= position._id %>?_method=put" method="POST">
            <input type="text" name="name" placeholder="Name of Position" value="<%= position.name %>"/>
            <input type="text" name="img" placeholder="Image of Position" value="<%= position.img %>"/>
            <input type="submit" value="Update Position"/>
        </form>
</body>
</html>