<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submission <%= submission.name %></title>
</head>
<body>
    <h2>Edit Submission</h2>
        <form action="/submissions/<%= submission._id %>?_method=put" method="POST">
            <input type="text" name="name" placeholder="Name of Submission" value="<%= submission.name %>"/>
            <input type="text" name="img" placeholder="Image of Submission" value="<%= submission.img %>"/>
            <input type="submit" value="Update Submission"/>
        </form>
</body>
</html>