<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Movement <%= movement.name %></title>
</head>
<body>
    <h2>Edit Movement</h2>
        <form action="/movements/<%= movement._id %>?_method=put" method="POST">
            <input type="text" name="name" placeholder="Name of Movement" value="<%= movement.name %>"/>
            <input type="text" name="img" placeholder="Image of Movement" value="<%= movement.img %>"/>
            <input type="submit" value="Update Movement"/>
        </form>
</body>
</html>