<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Move <%= move.name %></title>
</head>
<body>
    <h2>Edit Move</h2>
        <form action="/movements/<%= move._id %>?_method=put" method="POST">
            <input type="text" name="name" placeholder="Name of Move" value="<%= move.name %>"/>
            <input type="text" name="img" placeholder="Image of Move" value="<%= move.img %>"/>
            <input type="submit" value="Update Movement"/>
        </form>
</body>
</html>